---
layout: default
icon: fa-th
---

{% assign category = page.category | default: page.title %}
{%- include header.html scrolly_nav=category -%}

<div id="main">
  {%- if page.content != "" -%}
    {%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
    {%- endif -%}

    {% for post in site.categories[category] %}
      <li>
       <h3>
          {%- capture _title -%}
             <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          {%- endcapture -%}
          {%- capture _subtitle -%}
             <cite>{%if post.author %}{{ post.author }} | {% endif %}
             {{ post.date | date_to_long_string }}</cite>
          {%- endcapture -%}
          {%- capture _excerpt -%}<small><p>{{ post.excerpt | strip_html | truncatewords: 100 -}}</p></small>{%- endcapture -%}
          {%- capture _link -%}<a href="{{ site.baseurl }}{{ post.url }}">read more</a>{%- endcapture -%}
          {%- assign _content = _excerpt | append: _link -%}
          {%- include section.html title=_title subtitle=_subtitle content=_content -%}
        </h3>
     </li>
   {% endfor %}
</div>